.repeat-animation {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
  position:relative;
  left:50px;
}
.repeat-animation.ng-enter-stagger {
  -webkit-transition-delay:0.05s;
  transition-delay:0.05s;
  -webkit-transition-duration:0;
  transition-duration:0;
}
.repeat-animation.ng-enter { opacity:0; }
.repeat-animation.left.ng-enter { left:0px; }
.repeat-animation.right.ng-enter { left:100px; }
.repeat-animation.ng-enter-active { opacity:1; left:50px; }

        .insert-enter {
          -webkit-transform:scale(0);
          -webkit-transition-property: all;
          -webkit-transition-timing-function: ease-out-cubic;
          -webkit-transition-duration: 400ms;
        }
        .insert-enter.insert-enter-active {
          -webkit-transform:scale(1);
        }