button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    outline: none;
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid white;
    color: $white;
    transition: all 0.3s;
    cursor: pointer;
    background: $highlightColor;
    &:hover {
        background: $white;
        color: $highlightColor;
    }
}
.highlight {
        background: $highlightColor;
        color: $white;
        border: none;
        margin: 15px auto;
        &:hover {
        color: $white;
        background: $darkHighlightColor;
    }
}
input {
        border: 0;
    border-radius: 0;
    &:focus {
        outline: none;
    }
}
    input[type="checkbox"] {
        width: 25px;
        height: 25px;
        margin: 0;
          cursor: pointer;
    }
    input[type="checkbox"]+label {
        vertical-align: 7px;
        margin-left: 5px;
    }