button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    outline: none;
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background: transparent;
    border: 1px solid white;
    color: $white;
}
.highlight {
        background: $highlightColor;
        color: $white;
}