$calenderDayHeight:  100px;

.weekdays-container, .my-bookings-container, .arrow-container
{
    display: flex;
    align-items: center;
}

.my-bookings-container
{

}
.weekdays-container {
    flex-direction: column;
}


/* ======================
Pilar
==================== */

.arrow-container {
    background: $lightGrey;
}

.week-nr
{
  text-align: center;
  font-size: 36px;
  padding: 10px 0;

}

.left-arrow, .right-arrow
{
    padding: 0 20px;
  cursor: pointer;
  i
  {
    transition: all 0.3s ease;
    display: block;
    font-size: 46px;
    padding: 10px 0;
    &:hover
    {
      color: $highlightColor;
    }

  }
}
.left-arrow
{
  text-align: left;
}
.right-arrow
{
  text-align: right;
}

/* ======================
KALENDER - VÄNSTER DEL (veckodag och månadsnummer)
==================== */
.weekday-left-col
{
  float: left;
  width: 14%;
  border-right: 3px solid white;
  height: $calenderDayHeight;
}
.weekday
{
  margin: 5px 0;
  height: 100px;
  width: 100%;
  transition: all 0.1s ease;
  cursor: pointer;
  &:nth-of-type(odd)
  {
    background-color: $calenderOdd;
    color: $darkGrey;
  }
  &:nth-of-type(even)
  {
    background-color: $calenderEven;
    color: $darkGrey;
  }
  &:hover
  {
    background-color: green;
    color: white;
  }

}
.weekday-nr
{
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
}
.weekday-day
{
  text-align: center;
}

/* ======================
KALENDER - HÖGER DEL (bokningsdelen preview)
==================== */
.weekday-right-col
{
  float: left;
  width: 85%;
//  border-left: 1% solid red;
  position: relative;
}
.preview-container
{
  position: absolute;
  height: 100%;
  right: 5px;

  div
  {
    padding: 3.5px;
  }



//  @extend .flex-center;
}








@include respond-to(mobile-small) {



}


@include respond-to(mobile-large) {



}



@include respond-to(tablet) {


}


@include respond-to(desktop) {


}
