$calenderDayHeight:  100px;

.weekdays-container, .my-bookings-container, .arrow-container
{
  margin: 0 auto;
  width: 60%;
  min-width: 315px;
  max-width: 780px;
}

.my-bookings-container
{
  background-color: $beige;
  height: $calenderDayHeight;
  margin-bottom: 30px;
}


/* ======================
Pilar
==================== */

.week-nr
{
  text-align: center;
  font-size: 36px;
  float: left;
  width: 80%;
  padding: 10px 0;

}

.left-arrow, .right-arrow
{
  width: 10%;
  text-align: center;
  i
  {
    display: block;
    font-size: 46px;
    padding: 10px 0;
  }
}
.left-arrow
{
  float: left;
  i
  {
    transform: rotate(180deg);
  }
}
.right-arrow
{
  float: right;
}

/* ======================
KALENDER - VÄNSTER DEL (veckodag och månadsnummer)
==================== */
.weekday-left-col
{
  float: left;
  width: 14%;
  border-right: 3px solid white;
  height: $calenderDayHeight;
}
.weekday
{
  margin: 5px 0;
  height: 100px;
  width: 100%;
  &:nth-of-type(odd)
  {
    background-color: $calenderOdd;
    color: $darkGrey;
  }
  &:nth-of-type(even)
  {
    background-color: $calenderEven;
    color: $darkGrey;
  }
}
.weekday-nr
{
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
}
.weekday-day
{
  text-align: center;
}

/* ======================
KALENDER - HÖGER DEL (bokningsdelen preview)
==================== */
.weekday-right-col
{
  float: left;
  width: 85%;
//  border-left: 1% solid red;
  position: relative;
}
.preview-container
{
  position: absolute;
  height: 100%;
  right: 5px;

  div
  {
    padding: 3.5px;
  }



//  @extend .flex-center;
}








@include respond-to(mobile-small) {



}


@include respond-to(mobile-large) {



}



@include respond-to(tablet) {


}


@include respond-to(desktop) {


}
