$calenderDayHeight:  300px;

.weekdays-container, .my-bookings-container, .arrow-container
{
    display: flex;
    align-items: center;
}

.my-bookings-container
{

}
.weekdays-container {
    flex-direction: column;
    padding: 0 20px 20px 20px;
    background: $lightGrey;
}


/* ======================
Pilar
==================== */

.arrow-container {
    background: $lightGrey;
    padding-top: 10px;
    color: $darkGrey;
}

.week-nr
{
  text-align: center;
  font-size: 36px;
  padding: 0px 0;

}

.left-arrow, .right-arrow
{
    padding: 0 20px;
    cursor: pointer;
    i
    {
    transition: all 0.3s ease;
    display: block;
    font-size: 46px;
    padding: 10px 0;
    &:hover
    {
      color: $highlightColor;
    }
  }
}
.left-arrow
{
  text-align: left;
}
.right-arrow
{
  text-align: right;
}

/* ======================
KALENDER - VÄNSTER DEL (veckodag och månadsnummer)
==================== */
.weekday-left-col
{

}
.weekday
{
  display: flex;
  margin: 10px;
  border: 1px solid $calenderBorder;
  transition: all 0.1s ease;
  cursor: pointer;
  border-radius: 5px;
  &:nth-of-type(odd)
  {
    background-color: $calenderOdd;
    color: $darkGrey;
  }
  &:nth-of-type(even)
  {
    background-color: $calenderEven;
    color: $darkGrey;
  }
  &:hover
  {
    background-color: $mediumGrey;
  }
}
.expanded {
    i {
        transform: rotate(45deg);
    }
}
.weekday-nr
{
  padding-top: 25px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}
.weekday-day
{
  text-align: center;
}

/* ======================
KALENDER - HÖGER DEL (bokningsdelen preview)
==================== */
.weekday-right-col
{
    display: flex;
}

.time-col {
    border-left: 1px solid $calenderSpace;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

.weekday-expand {
  text-align: center;
  font-size: 36px;
  line-height: 110px;
    border-left: 1px solid $calenderSpace;
    i {
    transition: all 0.3s;
        &:hover {
            color: $highlightColor;
        }
    }
}

.available {
    h2 {
    text-align: center;
    color: $available;
    }
}
.full {
    h2 {
    text-align: center;
    color: $full;
    }
}

.partial {
    h2 {
    text-align: center;
    color: $partial;
    }
}

.preview-container
{
    width: 100%;
    p {
        text-align: center;
        margin: 8px 0 0 0;
        font-size: 18px;
    }
    h2 {
        margin-top: 10px;
    }

  div
  {
    width: 25%;
  };
}

.booking-container {
    padding: 20px;
    //display: none;
}
.my-bookings-container {
    color: $white;
    i {
        font-size: 24px;
    }
}
.my-bookings {
  //  display: none;
    height: 200px;
    background: $darkHighlightColor;
    color: white;
    padding: 20px;
    position: relative;
    .close-bookings {
        position: absolute;
        bottom: 0;
        right: 20px;
        cursor: pointer;
    }
}

/* VILLES CSS FÖR TEST */
.booked-label
{
  text-decoration: line-through;
  color: $full;
}
.not-booked-label
{
  color: $available;
}



@include respond-to(mobile-small) {



}


@include respond-to(mobile-large) {



}



@include respond-to(tablet) {


}


@include respond-to(desktop) {


}
