.alert {
    text-align: center;
    padding: 20px;
    font-weight: 700;
}

.alert-success {
    background: #CCFFCC;
    color: #339933;
    i {
        
    }
}

.alert-error {
    background: #FF9999;
    color: #990000;
    i {
        
    }
}