<!DOCTYPE html>
<html lang="sv" ng-app="booker">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Laundry Booker</title>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/icons/flaticon.css">
  <!--build:css css/styles.min.css-->
  <link rel="stylesheet" href="css/stylesheet.css">
  <!--endbuild-->
</head>
<body ng-controller="CalenderController">
  <header class="row">
    <div class="span-l2-m2-s2">
      <img src="images/lb-logo.svg" alt="Logotyp" class="lb-logo">
    </div>
    <div class="span-l6-m6-s6">
      <section>

        <div class="my-bookings-container">
          <p><i class="fa fa-fw fa-info-circle"></i>&nbsp;Din nästa bokade tid är: <b> {{bookedDay | date}} kl. {{bookedTime}}</b></p>
          <div ng-repeat="member in members">
            <button type="button" name="button" ng-click="sendMemberId(member.id)">{{member.firstname}}</button>
          </div>
        </div>
      </section>
    </div>
    <div class="span-l4-m4-s4">
      <button class="right"><i class="fa fa-fw fa-sign-out"></i> Logga ut</button>
      <button class="right button-bookings"><i class="fa fa-fw fa-list"></i> Mina bokningar <b>({{numberOfBookings}})</b></button>
    </div>

  </header>
  <!--================================================
  ==================  START MINA BOKNINGAR ===========
  ====================================================-->
  <div class="row my-bookings" ng-controller="MyBookingsController">
    <h2>Mina bokningar:</h2>
    <div ng-repeat="bookedBlock in bookings">
        <h4>Bokad dag: {{bookedBlock.date | date:'EEEE'}} {{bookedBlock.date | date:'dd'}} {{bookedBlock.date | date:'MMMM'}} Kl: {{bookedBlock.time}}</h4>
        <div ng-repeat="apparatus in bookedBlock.bookedApparatus">
          <p>{{apparatus}} <button class="small-btn">Avboka {{apparatus}}</button></p>
        </div>
        <!-- IN MED INLOGGAT HÄR -->
       <div ng-show="bookedBlock.bookedBy == 1234">



         <!-- {{bookedBlock}} -->
      </div>
      <!-- <div ng-repeat="(time, booked) in date.times">
        <div ng-repeat="(key, object) in booked" class="mybookings-list-date">
        </div>
        <div ng-repeat="(key, object) in booked" class="mybookings-list-time">
        </div>
        <div ng-repeat="(key, object) in booked">
          <p ng-show="object.bookedBy != null">{{object.name}}</p>
        </div>
      </div> -->
    </div>


    <p class="close-bookings"><i class="fa fa-times"></i> Stäng</p>
  </div>
  <!--================================================
  ==================  SLUT MINA BOKNINGAR ============
  ====================================================-->
  <div class="row">
    <div class="row app-container">
      <div>
        <div class="arrow-container">
          <div class="left-arrow span-l2-m2-s2"><i ng-click="minusWeek()" ng-show="returnArray[1][0]" class="fa fa-chevron-circle-left"></i></div>
          <div class="week-nr span-l8-m8-s8">Välj dag att boka:</div>
          <div class="right-arrow span-l2-m2-s2"><i ng-click="plusWeek()" ng-show="returnArray[1][1]" class="fa fa-chevron-circle-right"></i></div>
        </div>

        <div class="row weekdays-container">
          <div class="row weekday" ng-repeat="date in returnArray[0]">
            <div class="weekday-left-col span-l1-m2-s3">
              <div class="weekday-nr">{{date.dayName | date:'dd'}}</div>
              <div class="weekday-day">{{date.dayName | date:'EEE'}}</div>
            </div>
            <div class="weekday-right-col span-ll10-m8-s9">
              <!--================================================
              ==================  START TIDSBLOCK ================
              ==================================================-->
              <div class="time-col span-l3-m3-s3" ng-class="booked.available==0?'full': booked.available < 4 ?'partial':'available'" ng-repeat="(time, booked) in date.times">{{booked.timespan}}
                <div class="preview-container">
                  <h2><i class="fa fa-clock-o"></i> {{booked.available==0?'Fullbokat': booked.available
                    < 4 ? 'Delvis Bokat': 'Ledigt'}}</h2>
                </div>
                <div class="booking-container">
                  <p> Lediga Maskiner denna tid: {{booked.available}}</p>
                  <form>
                    <span ng-repeat="(key, object) in booked" ng-if="$index > 1">
                      <input type="checkbox" ng-disabled="object.bookedBy" ng-model="object.marked">
                      <label for="washer" ng-class="object.bookedBy?'booked-label':'not-booked-label'">{{object.name}}</label>
                      </br>
                    </span>
                    <button class="highlight center" type="submit"
                    ng-click="markAsBooked();
                    bookTime(date.dayName, date.times[$index].timespan, date.times[$index].apparatus1.marked, date.times[$index].apparatus2.marked, date.times[$index].apparatus3.marked,date.times[$index].apparatus4.marked, activeMemberId);
                    myBookings(date.times[$index].timespan, date.dayName,checkStatus)"
                    ng-show="booked.available > 0">Boka</button>
                  </form>
                </div>
              </div>
              <!--================================================
              ==================  SLUT TIDSBLOCK ================
              ==================================================-->
            </div>
            <!-- </div> -->
            <div class="weekday-expand span-l1-m2-s3"><i class="fa fa-plus"></i></div>
          </div>
          <!-- FOOTER -->
          <footer class="row">
            <p>
              <b>LaundryBooker</b> är ett bokningssystem skapat av <b>Vilhelm Falkenmark</b>, <b>Fredrik Löfgren</b> & <b>Simon Lager</b> i <b>Angular.js</b>
            </p>
          </footer>
          <script src="js/libs/angular.min.js"></script>
          <script src="js/libs/jquery-2.1.4.min.js"></script>
          <!--build:js js/main.min.js -->
          <script src="js/main.js"></script>
          <!-- endbuild -->
</body>
</html>
