<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tvättstugebokaren</title>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/icons/flaticon.css">
  <!--build:css css/styles.min.css-->
  <link rel="stylesheet" href="css/stylesheet.css">
  <!--endbuild-->
</head>
<body>

<header class="row">
<div class="span-l2-m2-s2"><img src="images/lb-logo.svg" alt="Logotyp" class="lb-logo"></div>    
<div class="span-l6-m6-s6">
      <section>
        <!-- MINA BOKNINGAR -->
        <div class="my-bookings-container">
        </div>
      </section>
</div>   
<div class="span-l4-m4-s4">
    
<button class="right"><i class="fa fa-fw fa-sign-out"></i> Logga ut</button>    
<button class="right"><i class="fa fa-fw fa-list"></i> Mina bokningar <b>(0)</b></button> 
</div>
</header> 
    
  <div class="row">
    <div class="row app-container" ng-app="booker">

      <!-- PILAR -->
        <div ng-controller="CalenderController">
        <div class="arrow-container">
          <div class="left-arrow span-l2-m2-s2" ng-click="minusWeek()"><i class="fa fa-chevron-circle-left"></i></div>
          <div class="week-nr span-l8-m8-s8">Välj dag att boka:</div>
          <div class="right-arrow span-l2-m2-s2" ng-click="plusWeek()"><i class="fa fa-chevron-circle-right"></i></div>
        </div>

        <!-- KALENDER -->
        <div class="row weekdays-container">
          <div class="row weekday" ng-repeat="date in dates" ng-click="what($index)">
            <div class="weekday-left-col span-l1-m2-s3">
              <div class="weekday-nr">{{date.dayName | date:'dd'}}</div>
              <div class="weekday-day">{{date.dayName | date:'EEE'}}</div>
            </div>
            <div class="weekday-right-col span-ll10-m8-s9">
                <div class="time-col span-l3-m3-s3 available">07-11
                    <div class="preview-container">
                        <p><i class="fa fa-clock-o"></i> Ledigt</p>
                    </div>
                </div>
                <div class="time-col span-l3-m3-s3 full">11-15
                                    <div class="preview-container">
                        <p><i class="fa fa-clock-o"></i> Fullbokat</p>
                    </div>
                </div>
                <div class="time-col span-l3-m3-s3 partial">15-19
                                                    <div class="preview-container">
                        <p><i class="fa fa-clock-o"></i> Delvis bokat</p>
                    </div>
                </div>
                <div class="time-col span-l3-m3-s3">19-23</div>
                
            </div> 
              <div class="weekday-expand span-l1-m2-s3"><i class="fa fa-plus"></i></div>
          </div>
        </div>
        <!-- SLUT KALENDER -->
      </div>
      <!-- SLUT mainController -->
      <!-- <div class="modal" ng-controller="ModalContoller">
          <div></div>
      </div> -->

    </div>




  </div>



  <script src="js/libs/angular.min.js"></script>
  <script src="js/libs/jquery-2.1.4.min.js"></script>
  <!--build:js js/main.min.js -->
  <script src="js/main.js"></script>
  <!-- endbuild -->

</body>
</html>
