<!-- KALENDER -->
<!-- <div class="row weekdays-container">
  <div class="row weekday" ng-repeat="date in dates">
    <div class="weekday-left-col span-l1-m2-s3">

      <div class="weekday-nr">{{date.dayName | date:'dd'}}</div>
      <div class="weekday-day">{{date.dayName | date:'EEE'}}</div>
    </div> -->
    <!--  START HÖGERKOLUMN (Dvs. tiderna i Varje dag) -->
    <!-- <div class="weekday-right-col span-ll10-m8-s9"> -->

      <!--*******************************************************
        ============= START PÅ TIDSBLOCKEN ========================
        ng-class="{{date.available}}?'free-day':'booked-day'"
        *********************************************************-->
      <!-- START TIDSBLOCK-->
      <!-- <div class="time-col span-l3-m3-s3" ng-class="booked?'available':'full'" ng-repeat="(time, booked) in date.times">{{time}}
        <div class="preview-container">
          <p><i class="fa fa-clock-o"></i> {{booked ? "Ledigt":"Bokad"}}</p>
          <button ng-show="booked" ng-click="bookTime(); myBookings(time, date.dayName)">{{booked ? "Boka":"Avboka"}}</button>
        </div>
      </div> -->
      <!--*******************************************************
        ============= SLUT PÅ TIDSBLOCKEN ========================
        *********************************************************-->
    <!-- </div>
    <div class="weekday-expand span-l1-m2-s3"><i class="fa fa-plus"></i></div>
  </div>
</div> -->
<!-- SLUT KALENDER -->
